# Администратор
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Безопасность
SECRET_KEY=change-me-to-random-string

# Сеть
DOMAIN=
FLASK_PORT=8077
BROWSERD_PORT=8099
NGINX_PORT=80

# Пути (обычно не менять)
INSTALL_DIR=/opt/cctv
REPO_URL=https://github.com/vasa57kam/cctv-deploy.git
PYTHON_BIN=python3
